@import "../../css/variables";

.card {
	display: flex;
	position: relative;
	margin-bottom: $padding;
	text-decoration: none;
	color: black;
	cursor: pointer;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.card__media {
	max-width: 50%;
	height: auto;
}

.card__content {
	padding: 0 $padding $padding $padding;
}

.card__image {
	width: 100%;
}

.card__title {
	margin-bottom: $padding;
}