@import "../../css/variables";

.card {
	display: flex;
	margin-top: 1rem;
	text-decoration: none;
	color: black;
	font-family: $font-primary;
}

.card__media {
	max-width: 50%;
	height: auto;
}

.card__image {
	width: 100%;
}

.card__content {
	padding: .625rem;
}

.card__title {
	margin-bottom: .625rem;
}